html {
    background-color: #4E4E50;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    border: 3px solid black;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    background-color: #1A1A1D;
    width: 45%;
    display: flex;
    justify-content: space-around;
}

a {
    color: oldlace;
    font-family: 'Patrick Hand SC', cursive;
    font-size: 20px;
}

h1 {
    font-family: 'Luckiest Guy', cursive;
    color: hotpink;
    font-size: 70px;
    text-shadow: 2px 12px 2px black;
    margin-top: 10px;
    margin-bottom: -5px;
}

table {
    border-collapse: separate;
    border-spacing: 6px;
}

button {
    width: 130px;
    height: 130px;
    display: flex;
    align-self: center;
}

.win-count {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30px;
    justify-content: space-around;
    color: oldlace;
    font-family: 'Gloria Hallelujah', cursive;
}

.win-count-display {
    margin: -5px;
    margin-left: -10px;
    font-size: 14px;
}

.gameboard-buttons {
    background-image: url('../../assets/cake-or-death.png');
    background-size: cover;
}

.cake-cell {
    background-image: url('../../assets/cake-icon-2.png');
    background-size: cover;
    background-color: #C3073F;
}

.death-cell {
    background-image: url('../../assets/dead.png');
    background-size: cover;
    background-color: #C3073F;
}

#cake-player, #death-player {
    display: flex; 
    justify-content: space-evenly;
    position: relative;
    font-family: 'Gloria Hallelujah', cursive;
    color: oldlace;
    font-size: 23px;
    align-items: center;
    width: 300px; 
    border-radius: 5px;
    height: 75px;
}

#user-info {
    border: 3px solid black;
    background-color: #1A1A1D;
    width: 455px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    border-radius: 5px;
}

#turn-count {
    color: oldlace;
    text-shadow: 2px 2px 2px black;
    margin: 5px;
    border-radius: 5px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
}

#cake-icon, #death-icon {
    border: 1px solid black;
    background-color: #C3073F;
    width: 30px;
    border-radius: 5px;
    margin-bottom: 5px;
}


#game-table {
    border: 3px solid black;
    width: 455px;
    background-color: #1A1A1D;
    height: 455px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    left: 50%;
    border-radius: 5px;
}

.game-cell {
    text-align: center;
    border: 4px solid black;
    border-radius: 5px;
    padding: 0px;
    width: 130px;
    height: 130px;
    text-align: center;
}



.animate-win {
    transform: rotate(1.0turn);
    transition-duration: 3s;
    background-color: oldlace;
}
