html {
    background-color: #4E4E50;
}
header {
    display: flex;
    text-shadow: 1px 1px 2px black;
    width: 50%;
    justify-content: center;
    
}



h1 {
    font-family: 'Luckiest Guy', cursive;
    color: hotpink;
    font-size: 48px;
    text-shadow: 2px 12px 2px black;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: oldlace;
    font-family: 'Patrick Hand SC', cursive;
    font-size: 20px;
}
h2 {
    color: #950750;
    text-shadow: 1px 1px 2px black;
    font-family: 'Gloria Hallelujah', cursive;
    height: 50px;
    margin: 15px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1A1A1D;
    border: 3px solid black;
    padding: 10px;
    border-radius: 5px;
}
p {
    width: 75%;
    display: flex;
    /* text-align: center; */
}
input {
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    color: hotpink;
    background-color: #6F2232;
    border: 3px solid black;
}

form {
    display: flex;
    flex-direction: row;
}

#cake-icon, #death-icon {
    width: 50px;
    height:50px;
    background-color: #6F2232;
    border-radius: 5px;
}

#cake-input, #death-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: space-around;
    height: 100px;
    border-radius: 5px;
}