body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: oldlace;
    font-family: 'Patrick Hand SC', cursive;
    font-size: 20px;
    background-color: #4E4E50;
}

header {
    display: flex;
    text-shadow: 1px 1px 2px black;
    width: 100%;
    justify-content: center;
    margin: 10px;  
    width: 800px; 
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1A1A1D;
    border: 3px solid black;
    padding: 10px;
    border-radius: 5px;
    
}

footer {
    border: 3px solid black;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    background-color: #1A1A1D;
    width: 45%;
    display: flex;
    justify-content: space-around;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Luckiest Guy', cursive;
    color: hotpink;
    font-size: 80px;
    text-shadow: 2px 12px 2px black;
    margin: 0px;   
}

h2 {
    color: hotpink;
    text-shadow: 1px 1px 2px black;
    font-family: 'Gloria Hallelujah', cursive;
    height: 50px;
    margin: 15px;
}

a {
    color: oldlace;
}

p {
    width: 75%;
    display: flex;
}

input {
    text-align: center;
    background-color: oldlace;
    border: 3px solid black;
}

button {
    background-color: black;
    color: oldlace;
    padding: 10px;
    border-radius: 5px;
    width: 100px;
}

#index-main {
    width: 700px;
}

#player-inputs {
    display: flex;
    flex-direction: row;
}

#cake-icon, #death-icon {
    width: 60px;
    height:60px;
    background-color: hotpink;
    border-radius: 5px;
}

#cake-input, #death-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: space-around;
    height: 100px;
    border-radius: 5px;
}

/* Results page */

#cake-wins, #death-wins, #tie {
    width: 300px;
    border-radius: 5px;
}

#message-box, #end-message {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

/* About Us page */

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

#profile-main {
    display: flex;
    flex-direction: column;
    width: 1000px;
}

#cara, #cosmo, #emily, #peter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-name {
    font-size: 24px;
    margin-top: -20px;
    margin-right: 20px;
    width: 100px;
    top: -25px;
}